@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.layout {
  max-width: 1440px;
  margin: 0 auto;
  grid-gap: 20px;
  height: auto;
}


@media screen and (max-width: 1279px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #fff; 
  }
  .aside {
    /* grid-column: 1;
    height: auto;
    */
    background-color: white;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main{
    background-color: white;
  }
  
  .header {
    background-color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .layout {
    display: grid;
    grid-template-columns: 25% 1fr; 
  grid-template-rows: auto 1fr; 
  }

  .aside {
    grid-row: auto;
    height: auto; 
    background-color: white;
  }

  .content {
    display: flex;
    flex-direction: row-reverse;
  }

  .main{
    background-color: white;
    width: 100%;
  }
  
  .header {
    background-color: white;
  }
}






@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 32px 0;
  background: white;
  white-space: nowrap;
  display: flex;
  position: relative;
  max-width: 850px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 15s slide infinite linear;
}

.logos-slide div {
  margin: 0 20px;
}



