@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.layout {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 1fr 8%; /* Adjust column widths as needed */
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  height: auto;
}

.aside {
  grid-column: 1;
  background-color: white;
  height: 796px;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column: 2; /* Ensure content spans the second column */
}

.header {
  grid-column: 3; /* Ensure header spans the third column */
  background-color: white;
}

.main {
  background-color: white;
}

/* Медиа-запросы для адаптивности */

/* Таблетки и мобильные устройства */
@media only screen and (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .aside {
    grid-row: auto;
  }

  .content {
    grid-row: auto;
  }
}

/* Мобильные устройства */
@media only screen and (max-width: 480px) {
  .header {
    font-size: 18px;
  }

  .main {
    font-size: 16px;
  }
}





@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 32px 0;
  background: white;
  white-space: nowrap;
  display: flex;
  position: relative;
  max-width: 850px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 15s slide infinite linear;
}

.logos-slide div {
  margin: 0 20px;
}